# Ігнорування папок залежностей
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ігнорування тимчасових файлів операційної системи
.DS_Store
Thumbs.db

# Ігнорування вихідних даних компіляції та середовищ виконання
dist/
build/
out/

# Ігнорування налаштувань IDE та редакторів
.vscode/
.idea/

# Інші тимчасові файли
*.log
*.env
.env.local
.env.*.local